<html>
<body>
<h1> Hello from<%= node.name %> </h1>
<p> The other webservers on this load balancer are:
<ul>
<% @webservers.each do |server| %>
<li> <%= server.name %></li>
<% end %>
</ul>
</p>
</body>
</html>
